{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}

<div class="grid-y medium-grid-frame sgdf-background full-height">
	<div class="cell medium-auto medium-cell-block-container">
		<div class="grid-x grid-padding-x full-height sgdf-background">
			<div class="cell medium-5 large-4 medium-cell-block-y grid-y small-grid-frame" id="white_box">
				<div class="medium-auto medium-cell-block-container align-middle align-center">
					<div class="cell grid-x grid-margin-x grid-padding-x">
						<div class="cell">
							<div class="row text-center">
								<img src="{{ asset('build/images/logo.png')}}" alt="Logo SGdF" class="login_logo">
							</div>
							<div class="row text-center">
								<h1>{{ app_title }}</h1><br>
							</div>
							<div class="row">
								{% if error %}
									<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}
							</div>
							<form action="{{ path("sgdf_intranetapi_login") }}" method="post">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
								<div class="formgroup">
									<label for="username">Nom d'utilisateur</label>
									<input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" required="required" />
								</div>
								<div class="formgroup">
									<label for="password">Mot de passe</label>
									<input class="form-control" type="password" id="password" name="password" required="required" />
								</div>
								<div class="formgroup">
									<input class="button expanded sgdf-background" type="submit" id="_submit" name="_submit" value="CONNEXION" />
								</div>
								<div class="formgroup">
									<input type="checkbox" id="remember_me" name="_remember_me"/>
									<label for="remember_me">Se souvenir de moi</label>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="cell shrink footer text-center align-bottom">
					<a target="_blank" href="https://support.sgdf.fr">Support</a>
				</div>
			</div>
			<div class="cell medium-7 large-8 medium-cell-block-y login_background"></div>
		</div>
	</div> 
</div>
		
{% endblock %}

